{% extends "base_gram.html" %}

{% load static %}
{% block title %} insta-clone {% endblock %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% block stylesheet %}
<style>
  body {
    background-image: url(../img/shattered.png);
  }
  
  .logo {
    font-family: 'Peralta', cursive;
  }
  
  .logo a {
    color: rgba(0,0,0,.9);
  }
  
  .logo a:hover,
  .logo a:active {
    text-decoration: none;
  }
</style>
{% endblock %}

{% block body %}
<div class="w3-container-fluid w3-theme-l5">
  <div class="w3-row">
     
      <br>
      <br>
      <div class="col-md-3"></div>
      <div class="col-md-6" "text-center">
          {% if form.errors %}
          <p> Some Information Might be Incorrect </p>
          {% endif %}
          <div class="panel panel-default w3-card">
              <div class="panel-heading ">
                  <h3 class="text-center">Sign Up</h3>
              </div>
              <div class="panel-body ">
                  <form method="post">
                      {% csrf_token %}
                      {{ form|crispy }}
                      <div class="form-group">
                          <input type="submit" class="w3-button " value="Sign Up">
                      </div>
                      <div class="form-group">
                          <input type="hidden" name="next" value="{{next}}">
                      </div>
                      <div class="w3-bar w3-left">
                          <p class=" w3-bar-item w3-center">Already have an account?</p>
                          <a class="w3-button w3-bar-item w3-center w3-green" href="/accounts/login">Login</a>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}