{% extends 'concept/base.html' %}
{% load bootstrap3 %}

{% load crispy_forms_tags %}
<h1 class="text-center">Insta-Clone</h1>

<img src="https://images.pexels.com/photos/326055/pexels-photo-326055.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">

{% block content %}
<div class="album py-5">
    <h1 style="text-align: center; font-size: 80px; font-family: Righteous; color: rgb(255, 179, 0)   ;"> Insta-Clone
    </h1>
    <br>
    <div class="container" style="font-family: ABeeZee;">
        <div class="row">
            {% for image in images %}

            <div class="container">
                <div class="rows">
                    <div class="card" style="width: 18rem;">
                        <img src="{{image.image.url}}" alt="img">
                        <div class="card-body">
                            <h5 class="card-title">{{image.image_caption}}</h5>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                        <div>
                            <h5 class="card-title">{{image.commented_image}}</h5>
                        </div>
                        <div class="count">
                            {% if image.likes.id %}
                            <a class="text-danger ml-3" href="{% url 'likes' post.id%}"><i
                                    class="fa fa-heart "></i>{{image.likes.count}}</a>
                            {% else %}
                            <a class="text-info ml-2" href="#"><i class="fa fa-heart "></i>
                                {{post.likes.count}}
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
</div>
</div>
</div>


</div>

<h2>No images. Follow people to see their images</h2>
<p><a href="{% url 'upload_image' %}">Add Image</a></p>

</div>
</div>
</div>
{% endblock %}